body {
  width: 32rem;
  margin: 0 auto;
}

.navigation {
  overflow: hidden;
  @include clr;
}

.navigation_menu {
  float: left;
  width: 28rem;
  height: 4rem;
  background-color: #373C3F;
  font: 400 normal 1.2rem/4rem none;
  font-family: $montserrat;
  color: #EBEBEB;
  padding-left: 2rem;
}

.navigation_menu_2 {
  display: none;
}

.navigation_button {
  position: relative;
  display: block;
  float: left;
  width: 4rem;
  height: 4rem;
  background-color: #202529;
}

.navigation_button_icon {
  display: block;
  @include icon_center;
  width: 1.5rem;
  height: 1rem;
  background-image: url("../img/menu_icon.png");
  background-position: center;
  background-size: cover;
}

.bunner {
  width: 32rem;
  height: 17.5rem;
  background-color: #0B9BB2;
  overflow: hidden;
  font-family: $montserrat;
}

.bunner_head {
  width: 22.5rem;
  margin: 6rem 0 0 3.5rem;
  font: 400 normal 2rem/2.25rem none;
  color: #FFFFFF;
}

.bunner_text {
  float: left;
  margin: 2rem 0 0 3.5rem;
  font: 400 normal 1rem/1.25rem none;
  color: #A6D5DE;
}

.textbox {
  background-color: #fff;
  @include clr;
}

.textbox_text {
  width: 25rem;
  height: 7.5rem;
  float: left;
  background-color: #27212C;
  font: 400 normal 1rem/7.5rem none;
  font-family: $montserrat;
  text-align: center;
  color: #9282A0;
}

.textbox_button {
  position: relative;
  display: block;
  width: 7rem;
  height: 7.5rem;
  float: left;
  background-color: #BC3183;
}

.textbox_button_icon {
  display: block;
  width: 1rem;
  height: 1rem;
  @include icon_center;
  font: 700 normal 1rem/1rem none;
  font-family: $quicksand;
  color: #FFFFFF;;
}

.img_button {
  position: relative;
  display: block;
  width: 32rem;
  height: 27.5rem;
  background-color: #5B0FA1;
}

.img_button_icon {
  display: block;
  width: 3rem;
  height: 3rem;
  @include icon_center;
  font: 700 normal 3rem/3rem none;
  font-family: $quicksand;
  color: #FFFFFF;;
}

.img {
  width: 32rem;
  height: 100%;
}

.textbox_2 {
  width: 32rem;
  padding: 3.5rem 3.5rem 5rem;
  background-color: #EBEBEB;
  font: 400 normal 1.9rem/2.2rem none;
  font-family: $montserrat;
  color: #818181;

}

.textbox_2_head {
  display: block;
  margin-bottom: 2.5rem;
  text-decoration: none;
  color: #088CA5;
  &:hover {
    text-decoration: underline;
  }
}

.textbox_2_text_1 {
   margin-bottom: 3.5rem;
  text-align: justify;
}
.textbox_2_text_2 {
  text-align: justify;
}

.textbox_2_box_2 {
  display: none;
}