@media only screen and (min-width : 980px) and (max-width : 1023px) {

  html {
    font-size: 30.625px;
  }

  .navigation_menu {
    display: none;
  }

  .navigation_button {
    display: none;
  }

  .navigation_menu_2 {
    display: block;
    width: 32rem;
    height: 4rem;
    background-color: #373C3F;
    padding-left: 2rem;
  }

  .navigation_menu_link {
    display: inline-block;
    padding-left: 0.5rem;
    font: 700 normal 1.25em/3.5rem none;
    font-family: $montserrat;
    color: #FFFFFF;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:nth-child(n+2) {
      margin-left: 0.25rem;
    }
  }

  .img_box {
    overflow: hidden;
  }
  .img_button {
    position: relative;
    display: block;
    float: left;
    width: 10.8rem;
    height: 9.2rem;
    background-color: #5B0FA1;
  }

  .img {
    float: left;
    width: 10.6rem;
    height: 100%;
  }

  .textbox_2 {
    padding: 2.75rem 2.75rem 3.5rem;
    font: 400 normal 0.6rem/0.8rem none;
    @include clr;

  }

  .textbox_2_head {
    margin-bottom: 1.25rem;
  }

  .textbox_2_text_1 {
    width: 12rem;
    margin-bottom: 1.75rem;
  }
  
  .textbox_2_text_2 {
    width: 12rem;
  }

  .textbox_2_box_1 {
    overflow: hidden;
    float: left;
  }

  .textbox_2_box_2 {
    display: block;
    overflow: hidden;
    float: left;
    margin-left: 2rem;
  }
}